.place__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  margin: 0;
  max-width: 100%;
}

@media screen and (max-width: 890px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 720px) {
  .place__title {
    max-width: calc(100% - (16px * 2));
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}


