.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0;
    width: 360px;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: calc(100vw - (16px * 2));
    }
}