.place__paragraphs {
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: flex-start;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media screen and (max-width: 720px) {
  .place__paragraphs {
    max-width: calc(100% - (16px * 2));
    margin-left: 16px;
  }
}

