.place__paragraphs {
    grid-area: paragraphs;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-self: flex-start;
    width: 484px;
}

@media screen and (max-width: 1280px) {
    .place__paragraphs {
        width: 456px;
    }
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        width: 100%;
        gap: 25px;
    }
}