.intro {
  max-width: 690px;
  margin: 0 auto 92px 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 auto 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - (24px * 2));
    margin: 0 auto 88px auto;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    max-width: calc(100% - (16px * 2));
    margin: 0 auto 64px auto;
  }
}
