.cover__overlay {
    background: rgba(42, 44, 47, 0.3);
    padding: 245px 312px 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 740px;
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8); 
}

@media screen and (max-width: 1280px) {
    .cover__overlay {
        padding: 195px 232px 195px;
        max-height: 640px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        padding: 104px 115px 104px;
        max-height: 480px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        padding: 16px 33px 16px;
        max-height: 200px;
    }
}