.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-template-rows: min-content min-content;
  grid-template-areas:
  "title website"
  "image paragraphs";
  gap: 48px 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(300px, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(240px, 340px) minmax(252px, 352px);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraphs";
    gap: 32px 0;
  }
}
