 .place__website {
  grid-area: website;
  align-self: flex-end;
  max-width: 100%;
 }

 @media screen and (max-width: 720px) {
   .place__website {
     max-width: calc(100% - (16px * 2));
     margin-left: 16px;
   }
 }
